.container-left-side {
background-color: bisque;
width: 90%;
margin: auto;
margin-top: 1rem;
border: 2px solid black;
}

.img01 {
width: 100%;
height: auto;
}
.wlecome {
font-size: 2rem;
font-weight: bolder;
text-align: center;
}
.intro {
background-color: antiquewhite;
margin-left: 0.5rem;
margin-right: 0.5rem;
font-size: 1rem;
}
.reg {
font-weight: bolder;
}
.submit-btn {
display: block;
width: 40%;
margin-left: 13.5rem;
margin-top: 1.5rem;
margin-bottom: 1.5rem;
box-shadow: 4px 8px 10px 3px rgba(0, 0, 0, 0.71);
}
.register-f {
margin-left: 0.5rem;
}
.email_name {
width: 80%;
}
