<!-- RIGHT COLUMN -->
<section class="right_column" id="right-column">
  <button type="button" class="collapsible">Start your own</button>
  <div class="content">
<form class="submit" action="/id:/submit" method="POST">
    <div class="dropdown">
      <button class="dropbtn">Event type:</button>
      <div class="dropdown-content">
        <a href="#">Character</a>
        <a href="#">World-Building</a>
        <a href="#">Character-building</a>
      </div>
  </div>
    <label for="events">Events</label>
    <input class="events_input" type="text" name="event">
    <label for="story_start">Story:</label>
    <input class="story_input" type="text" name="story">
    <button type="submit" class="btn btn-primary">Submit</button>
  </form>
</div>
      <header class="mp_header">
        Most Popular
        <a href="/most_popular" title="see more"><i class="fa-solid fa-plus" id="rc_fa_plus" title="see more"></i></a>
      </header>
<!-- <section class="fp_mostpopular">
  <article class="mp_headliner">
    <div><img src="https://w0.peakpx.com/wallpaper/335/727/HD-wallpaper-fantasy-forest-forest-tree-fantasy-green-lush-beautiful-landscape.jpg" class="rc_story_image"></div>
    <div class="rc_story_blurb">We have nothing to speak about. There never was. Words are an unnecessary trouble. Expression is time wasting away. Any communication is just a yelp in the darkness. I am speaking now but I am saying nothing. I am just making noises, and, as it happens, they are organized in words and you should not draw meaning from this.</div>
    <footer><a href="/story_id"><i class="fa-solid fa-angles-right" id="rc_angles" title="read more"></i></a></footer>
  </article>
  <section class="mp_group">
    <article class="mp_1">
      <section class="mp_story">
        <img src="https://w0.peakpx.com/wallpaper/335/727/HD-wallpaper-fantasy-forest-forest-tree-fantasy-green-lush-beautiful-landscape.jpg" class="mini_image">
        <div class="most-popular-header">
            <div class="story_title">
              <p id="story-title"><img src="">Cursed Castle</p>
            </div>
          </div>
        </section>
          <p class="paragraph">
            Remember: if you see something, say nothing, and drink to forget
          </p>
          <footer class="mini_footer">
            <p class="contributions">2 </p><i class="fa-solid fa-book" title="contribution"></i>
            <p class="likes">5</p><i class="fa-solid fa-heart marg" title="like"></i>
            <i class="fa-solid fa-plus"></i>
          </footer>
        </article>
    <article class="mp_2">
      <section class="mp_story">
        <img src="https://w0.peakpx.com/wallpaper/335/727/HD-wallpaper-fantasy-forest-forest-tree-fantasy-green-lush-beautiful-landscape.jpg" class="mini_image">
        <div class="most-popular-header">
            <div class="story_title">
              <p id="story-title"><img src="">Cursed Castle</p>
            </div>
          </div>
        </section>
      <p class="paragraph">
        Remember: if you see something, say nothing, and drink to forget
      </p>
      <footer class="mini_footer">
        <p class="contributions">2 </p><i class="fa-solid fa-book" title="contribution"></i>
        <p class="likes">5</p><i class="fa-solid fa-heart marg" title="like"></i>
        <i class="fa-solid fa-plus"></i>
      </footer>
    </article>
    <article class="mp_3">
      <section class="mp_story">
        <img src="https://w0.peakpx.com/wallpaper/335/727/HD-wallpaper-fantasy-forest-forest-tree-fantasy-green-lush-beautiful-landscape.jpg" class="mini_image">
        <div class="most-popular-header">
            <div class="story_title">
              <p id="story-title"><img src="">Cursed Castle</p>
            </div>
          </div>
        </section>
      <p class="paragraph">
        Remember: if you see something, say nothing, and drink to forget
      </p>
      <footer class="mini_footer">
        <p class="contributions">2 </p><i class="fa-solid fa-book" title="contribution"></i>
        <p class="likes">5</p><i class="fa-solid fa-heart marg" title="like"></i>
        <i class="fa-solid fa-plus" title="read this story"></i>
      </footer>
    </article>
    <article class="mp_4">
      <section class="mp_story">
        <img src="https://w0.peakpx.com/wallpaper/335/727/HD-wallpaper-fantasy-forest-forest-tree-fantasy-green-lush-beautiful-landscape.jpg" class="mini_image">
        <div class="most-popular-header">
            <div class="story_title">
              <p id="story-title"><img src="">Cursed Castle</p>
            </div>
          </div>
        </section>
      <p class="paragraph">
        Remember: if you see something, say nothing, and drink to forget
      </p>
      <footer class="mini_footer">
        <p class="contributions">2 </p><i class="fa-solid fa-book" title="contribution"></i>
        <p class="likes">5 </p><i class="fa-solid fa-heart marg" title="like"></i>
        <i class="fa-solid fa-plus"></i>
      </footer>
    </article>
  </section>
</section>
  <header class="mr_header">Most Recent
    <a href="/most_recent" title="see more"><i class="fa-solid fa-plus" id="rc_fa_plus" title="see more"></i></a>
  </header>
  <section class="fp_mostrecent">
  <article class="mr_headliner">
    <div><img src="https://w0.peakpx.com/wallpaper/335/727/HD-wallpaper-fantasy-forest-forest-tree-fantasy-green-lush-beautiful-landscape.jpg" class="rc_story_image"></div>
    <div class="rc_story_blurb">We have nothing to speak about. There never was. Words are an unnecessary trouble. Expression is time wasting away. Any communication is just a yelp in the darkness. I am speaking now but I am saying nothing. I am just making noises, and, as it happens, they are organized in words and you should not draw meaning from this.</div>
    <footer><a href="/story_id"><i class="fa-solid fa-angles-right" id="rc_angles" title="read more"></i></a></footer>
  </article>
  <section class="mr_group">
    <article class="mr_1">
      <section class="mr_story">
        <img src="https://w0.peakpx.com/wallpaper/335/727/HD-wallpaper-fantasy-forest-forest-tree-fantasy-green-lush-beautiful-landscape.jpg" class="mini_image">
        <div class="most-recent-header">
            <div class="story_title">
              <p id="story-title"><img src="">Cursed Castle</p>
            </div>
          </div>
        </section>
          <p class="paragraph">
            Remember: if you see something, say nothing, and drink to forget
          </p>
          <footer class="mini_footer">
            <p class="contributions">2 </p><i class="fa-solid fa-book" title="contribution"></i>
            <p class="likes">5</p><i class="fa-solid fa-heart marg" title="like"></i>
            <i class="fa-solid fa-plus"></i>
          </footer>
        </article>
    <article class="mr_2">
      <section class="mr_story">
        <img src="https://w0.peakpx.com/wallpaper/335/727/HD-wallpaper-fantasy-forest-forest-tree-fantasy-green-lush-beautiful-landscape.jpg" class="mini_image">
        <div class="most-recent-header">
            <div class="story_title">
              <p id="story-title"><img src="">Cursed Castle</p>
            </div>
          </div>
        </section>
      <p class="paragraph">
        Remember: if you see something, say nothing, and drink to forget
      </p>
      <footer class="mini_footer">
        <p class="contributions">2 </p><i class="fa-solid fa-book" title="contribution"></i>
        <p class="likes">5</p><i class="fa-solid fa-heart marg" title="like"></i>
        <i class="fa-solid fa-plus"></i>
      </footer>
    </article>
    <article class="mr_3">
      <section class="mr_story">
        <img src="https://w0.peakpx.com/wallpaper/335/727/HD-wallpaper-fantasy-forest-forest-tree-fantasy-green-lush-beautiful-landscape.jpg" class="mini_image">
        <div class="most-recent-header">
            <div class="story_title">
              <p id="story-title"><img src="">Cursed Castle</p>
            </div>
          </div>
        </section>
      <p class="paragraph">
        Remember: if you see something, say nothing, and drink to forget
      </p>
      <footer class="mini_footer">
        <p class="contributions">2 </p><i class="fa-solid fa-book" title="contribution"></i>
        <p class="likes">5</p><i class="fa-solid fa-heart marg" title="like"></i>
        <i class="fa-solid fa-plus" title="read this story"></i>
      </footer>
    </article>
    <article class="mr_4">
      <section class="mr_story">
        <img src="https://w0.peakpx.com/wallpaper/335/727/HD-wallpaper-fantasy-forest-forest-tree-fantasy-green-lush-beautiful-landscape.jpg" class="mini_image">
        <div class="most-recent-header">
            <div class="story_title">
              <p id="story-title"><img src="">Cursed Castle</p>
            </div>
          </div>
        </section>
      <p class="paragraph">
        Remember: if you see something, say nothing, and drink to forget
      </p>
      <footer class="mini_footer">
        <p class="contributions">2 </p><i class="fa-solid fa-book" title="contribution"></i>
        <p class="likes">5 </p><i class="fa-solid fa-heart marg" title="like"></i>
        <i class="fa-solid fa-plus"></i>
      </footer>
    </article>
  </section>
  </section>
  <header class="yf_header"> Your Favourites
    <a href="/your_favourites" title="see more"><i class="fa-solid fa-plus" id="rc_fa_plus" title="see more"></i></a>
   </header>
  <section class="fp_your_favourites">
    <article class="yf_headliner">
    <div><img src="https://w0.peakpx.com/wallpaper/335/727/HD-wallpaper-fantasy-forest-forest-tree-fantasy-green-lush-beautiful-landscape.jpg" class="rc_story_image"></div>
    <div class="rc_story_blurb">We have nothing to speak about. There never was. Words are an unnecessary trouble. Expression is time wasting away. Any communication is just a yelp in the darkness. I am speaking now but I am saying nothing. I am just making noises, and, as it happens, they are organized in words and you should not draw meaning from this.</div>
    <footer><a href="/story_id"><i class="fa-solid fa-angles-right" id="rc_angles" title="read more"></i></a></footer>
  </article>
  <section class="yf_group">
    <article class="yf_1">
      <section class="yf_story">
        <img src="https://w0.peakpx.com/wallpaper/335/727/HD-wallpaper-fantasy-forest-forest-tree-fantasy-green-lush-beautiful-landscape.jpg" class="mini_image">
        <div class="most-recent-header">
            <div class="story_title">
              <p id="story-title"><img src="">Cursed Castle</p>
            </div>
          </div>
        </section>
          <p class="paragraph">
            Remember: if you see something, say nothing, and drink to forget
          </p>
          <footer class="mini_footer">
            <p class="contributions">2 </p><i class="fa-solid fa-book" title="contribution"></i>
            <p class="likes">5</p><i class="fa-solid fa-heart marg" title="like"></i>
            <i class="fa-solid fa-plus"></i>
          </footer>
        </article>
    <article class="yf_2">
      <section class="yf_story">
        <img src="https://w0.peakpx.com/wallpaper/335/727/HD-wallpaper-fantasy-forest-forest-tree-fantasy-green-lush-beautiful-landscape.jpg" class="mini_image">
        <div class="your-favourites-header">
            <div class="story_title">
              <p id="story-title"><img src="">Cursed Castle</p>
            </div>
          </div>
        </section>
      <p class="paragraph">
        Remember: if you see something, say nothing, and drink to forget
      </p>
      <footer class="mini_footer">
        <p class="contributions">2 </p><i class="fa-solid fa-book" title="contribution"></i>
        <p class="likes">5</p><i class="fa-solid fa-heart marg" title="like"></i>
        <i class="fa-solid fa-plus"></i>
      </footer>
    </article>
    <article class="yf_3">
      <section class="yf_story">
        <img src="https://w0.peakpx.com/wallpaper/335/727/HD-wallpaper-fantasy-forest-forest-tree-fantasy-green-lush-beautiful-landscape.jpg" class="mini_image">
        <div class="your-favourites-header">
            <div class="story_title">
              <p id="story-title"><img src="">Cursed Castle</p>
            </div>
          </div>
        </section>
      <p class="paragraph">
        Remember: if you see something, say nothing, and drink to forget
      </p>
      <footer class="mini_footer">
        <p class="contributions">2 </p><i class="fa-solid fa-book" title="contribution"></i>
        <p class="likes">5</p><i class="fa-solid fa-heart marg" title="like"></i>
        <i class="fa-solid fa-plus" title="read this story"></i>
      </footer>
    </article>
    <article class="yf_4">
      <section class="yf_story">
        <img src="https://w0.peakpx.com/wallpaper/335/727/HD-wallpaper-fantasy-forest-forest-tree-fantasy-green-lush-beautiful-landscape.jpg" class="mini_image">
        <div class="your-favourites-header">
            <div class="story_title">
              <p id="story-title"><img src="">Cursed Castle</p>
            </div>
          </div>
        </section>
      <p class="paragraph">
        Remember: if you see something, say nothing, and drink to forget
      </p>
      <footer class="mini_footer">
        <p class="contributions">2 </p><i class="fa-solid fa-book" title="contribution"></i>
        <p class="likes">5 </p><i class="fa-solid fa-heart marg" title="like"></i>
        <i class="fa-solid fa-plus"></i>
      </footer>
    </article>
  </section>
  </section>
  <header class="yf_header"> Your Favourites
    <a href="/your_favourites" title="see more"><i class="fa-solid fa-plus" id="rc_fa_plus" title="see more"></i></a>
   </header>
  </section> -->
