<article>
  <h2>WELCOME !! </h2>
  <p>
    The moon`s weird though, right? It`s there, and there, and then suddenly it`s not. And it seems to be pretty far up. Is it watching us? If not, what is it watching instead? Is there something more interesting than us? Hey, watch us moon! We may not always be the best show in the universe, but we try.
  </p>
  <img src="https://static.thenounproject.com/png/1206847-200.png">
  <label form="register" class="register_label">Register:</label>
  <form action="/register" method="POST" id="register">
    <input type="text" class="register_entry" placeholder="name"><br>
    <input type="text" class="register_entry" placeholder="email"><br>
    <input type="text" class="register_entry" placeholder="password">
    <button type="submit" class="submit-btn">Submit</button>
  </form>
</article>
