<header class="mp_header"><p class="header_title">Most Popular</p></header>
<article class="story_block">
    <section class="single_story">
      <header class="story_info">
        <img src="https://w0.peakpx.com/wallpaper/335/727/HD-wallpaper-fantasy-forest-forest-tree-fantasy-green-lush-beautiful-landscape.jpg" class="story_image">
        <div class="story_title">
          <p id="story_title"><img src="" /> Cursed Castle</p>
        </div></header>
      <p class="story_blurb">
        We have nothing to speak about. There never was. Words are an
        unnecessary trouble. Expression is time wasting away. Any communication
        is just a yelp in the darkness. I am speaking now but I am saying
        nothing. I am just making noises, and, as it happens, they are organized
        in words and you should not draw meaning from this.
      </p>
      <footer class="story_footer">
        <div class="icons">
          20 <i class="fa-solid fa-heart" title="likes"></i>
          2 <i class="fa-solid fa-book" title="contributions"></i>
          </div>
        <a href="/story_id"><i class="fa-solid fa-angles-right" title="read the whole story"></i></a>
      </footer>
    </section>
    <section class="single_story">
      <header class="story_info">
        <img src="https://w0.peakpx.com/wallpaper/335/727/HD-wallpaper-fantasy-forest-forest-tree-fantasy-green-lush-beautiful-landscape.jpg" class="story_image">
        <div class="story_title">
          <p id="story_title"><img src="" /> Cursed Castle</p>
        </div></header>
      <p class="story_blurb">
        We have nothing to speak about. There never was. Words are an
        unnecessary trouble. Expression is time wasting away. Any communication
        is just a yelp in the darkness. I am speaking now but I am saying
        nothing. I am just making noises, and, as it happens, they are organized
        in words and you should not draw meaning from this.
      </p>
      <footer class="story_footer">
        <div class="icons">
          20 <i class="fa-solid fa-heart" title="likes"></i>
          2 <i class="fa-solid fa-book" title="contributions"></i>
          </div>
        <a href="/story_id"><i class="fa-solid fa-angles-right" title="read the whole story"></i></a>
      </footer>
    </section>
    <section class="single_story">
      <header class="story_info">
        <img src="https://w0.peakpx.com/wallpaper/335/727/HD-wallpaper-fantasy-forest-forest-tree-fantasy-green-lush-beautiful-landscape.jpg" class="story_image">
        <div class="story_title">
          <p id="story_title"><img src="" /> Cursed Castle</p>
        </div></header>
      <p class="story_blurb">
        We have nothing to speak about. There never was. Words are an
        unnecessary trouble. Expression is time wasting away. Any communication
        is just a yelp in the darkness. I am speaking now but I am saying
        nothing. I am just making noises, and, as it happens, they are organized
        in words and you should not draw meaning from this.
      </p>
      <footer class="story_footer">
        <div class="icons">
          20 <i class="fa-solid fa-heart" title="likes"></i>
          2 <i class="fa-solid fa-book" title="contributions"></i>
          </div>
        <a href="/story_id"><i class="fa-solid fa-angles-right" title="read the whole story"></i></a>
      </footer>
    </section>
    </article>
    <article class="story_block">
      <section class="single_story">
        <header class="story_info">
          <img src="https://w0.peakpx.com/wallpaper/335/727/HD-wallpaper-fantasy-forest-forest-tree-fantasy-green-lush-beautiful-landscape.jpg" class="story_image">
          <div class="story_title">
            <p id="story_title"><img src="" /> Cursed Castle</p>
          </div></header>
        <p class="story_blurb">
          We have nothing to speak about. There never was. Words are an
          unnecessary trouble. Expression is time wasting away. Any communication
          is just a yelp in the darkness. I am speaking now but I am saying
          nothing. I am just making noises, and, as it happens, they are organized
          in words and you should not draw meaning from this.
        </p>
        <footer class="story_footer">
          <div class="icons">
            20 <i class="fa-solid fa-heart" title="likes"></i>
            2 <i class="fa-solid fa-book" title="contributions"></i>
            </div>
          <a href="/story_id"><i class="fa-solid fa-angles-right" title="read the whole story"></i></a>
        </footer>
      </section>
      <section class="single_story">
        <header class="story_info">
          <img src="https://w0.peakpx.com/wallpaper/335/727/HD-wallpaper-fantasy-forest-forest-tree-fantasy-green-lush-beautiful-landscape.jpg" class="story_image">
          <div class="story_title">
            <p id="story_title"><img src="" /> Cursed Castle</p>
          </div></header>
        <p class="story_blurb">
          We have nothing to speak about. There never was. Words are an
          unnecessary trouble. Expression is time wasting away. Any communication
          is just a yelp in the darkness. I am speaking now but I am saying
          nothing. I am just making noises, and, as it happens, they are organized
          in words and you should not draw meaning from this.
        </p>
        <footer class="story_footer">
          <div class="icons">
            20 <i class="fa-solid fa-heart" title="likes"></i>
            2 <i class="fa-solid fa-book" title="contributions"></i>
            </div>
          <a href="/story_id"><i class="fa-solid fa-angles-right" title="read the whole story"></i></a>
        </footer>
      </section>
      <section class="single_story">
        <header class="story_info">
          <img src="https://w0.peakpx.com/wallpaper/335/727/HD-wallpaper-fantasy-forest-forest-tree-fantasy-green-lush-beautiful-landscape.jpg" class="story_image">
          <div class="story_title">
            <p id="story_title"><img src="" /> Cursed Castle</p>
          </div></header>
        <p class="story_blurb">
          We have nothing to speak about. There never was. Words are an
          unnecessary trouble. Expression is time wasting away. Any communication
          is just a yelp in the darkness. I am speaking now but I am saying
          nothing. I am just making noises, and, as it happens, they are organized
          in words and you should not draw meaning from this.
        </p>
        <footer class="story_footer">
          <div class="icons">
            20 <i class="fa-solid fa-heart" title="likes"></i>
            2 <i class="fa-solid fa-book" title="contributions"></i>
            </div>
          <a href="/story_id"><i class="fa-solid fa-angles-right" title="read the whole story"></i></a>
        </footer>
      </section>
      </article>
      <article class="story_block">
        <section class="single_story">
          <header class="story_info">
            <img src="https://w0.peakpx.com/wallpaper/335/727/HD-wallpaper-fantasy-forest-forest-tree-fantasy-green-lush-beautiful-landscape.jpg" class="story_image">
            <div class="story_title">
              <p id="story_title"><img src="" /> Cursed Castle</p>
            </div></header>
          <p class="story_blurb">
            We have nothing to speak about. There never was. Words are an
            unnecessary trouble. Expression is time wasting away. Any communication
            is just a yelp in the darkness. I am speaking now but I am saying
            nothing. I am just making noises, and, as it happens, they are organized
            in words and you should not draw meaning from this.
          </p>
          <footer class="story_footer">
            <div class="icons">
              20 <i class="fa-solid fa-heart" title="likes"></i>
              2 <i class="fa-solid fa-book" title="contributions"></i>
              </div>
            <a href="/story_id"><i class="fa-solid fa-angles-right" title="read the whole story"></i></a>
          </footer>
        </section>
        <section class="single_story">
          <header class="story_info">
            <img src="https://w0.peakpx.com/wallpaper/335/727/HD-wallpaper-fantasy-forest-forest-tree-fantasy-green-lush-beautiful-landscape.jpg" class="story_image">
            <div class="story_title">
              <p id="story_title"><img src="" /> Cursed Castle</p>
            </div></header>
          <p class="story_blurb">
            We have nothing to speak about. There never was. Words are an
            unnecessary trouble. Expression is time wasting away. Any communication
            is just a yelp in the darkness. I am speaking now but I am saying
            nothing. I am just making noises, and, as it happens, they are organized
            in words and you should not draw meaning from this.
          </p>
          <footer class="story_footer">
            <div class="icons">
              20 <i class="fa-solid fa-heart" title="likes"></i>
              2 <i class="fa-solid fa-book" title="contributions"></i>
              </div>
            <a href="/story_id"><i class="fa-solid fa-angles-right" title="read the whole story"></i></a>
          </footer>
        </section>
        <section class="single_story">
          <header class="story_info">
            <img src="https://w0.peakpx.com/wallpaper/335/727/HD-wallpaper-fantasy-forest-forest-tree-fantasy-green-lush-beautiful-landscape.jpg" class="story_image">
            <div class="story_title">
              <p id="story_title"><img src="" /> Cursed Castle</p>
            </div></header>
          <p class="story_blurb">
            We have nothing to speak about. There never was. Words are an
            unnecessary trouble. Expression is time wasting away. Any communication
            is just a yelp in the darkness. I am speaking now but I am saying
            nothing. I am just making noises, and, as it happens, they are organized
            in words and you should not draw meaning from this.
          </p>
          <footer class="story_footer">
            <div class="icons">
              20 <i class="fa-solid fa-heart" title="likes"></i>
              2 <i class="fa-solid fa-book" title="contributions"></i>
              </div>
            <a href="/story_id"><i class="fa-solid fa-angles-right" title="read the whole story"></i></a>
          </footer>
        </section>
        </article>
  </section>
