<!-- <article class="story-brief-discri">
  <div class="most-popular-header">
    <img
    src="https://w0.peakpx.com/wallpaper/335/727/HD-wallpaper-fantasy-forest-forest-tree-fantasy-green-lush-beautiful-landscape.jpg""
    alt="">
    <h2 class="str-title">Cursed Castle</h2>
  </div>
  <p class="paragraph">
    All-powerful and, as Gothic tropes dictate, utterly bonkers, this adventure
    sees you banding together to take down the bloodthirsty despot. This is not
    your typical high-fantasy adventure. In Curse of Strahd, the villain has
    already won, the economy doesn't exist and your odds of beating him are
    slim.
  </p>
  <div class="icons-2">
    <i class="fa-solid fa-heart marg"></i>

    <i class="fa-solid fa-plus"></i>
  </div>
</article> -->