<article class="mini_story_block">
  <section class="mini_story">
    <img src="https://w0.peakpx.com/wallpaper/335/727/HD-wallpaper-fantasy-forest-forest-tree-fantasy-green-lush-beautiful-landscape.jpg" class="mini_image">
    <div class="story_miniheader">
      <div class="story_title">
        <p id="story-title"><img src=""><%= card.title %></p>
      </div>
    </div>
  </section>
    <p class="story_paragraph">
      <%= card.description %>
    </p>
    <footer class="mini_footer">
      <p class="contributions"><%= card.contributions %></p><i class="fa-solid fa-book" title="contribution"></i>
      <p class="likes"><%= card.likes %></p><i class="fa-solid fa-heart marg" title="like"></i>
      <i class="fa-solid fa-plus"></i>
    </footer>
</article>
