<button type="button" class="collapsible">Start your own</button>
<div class="content">
  <form class="submit" action="/id:/submit" method="POST">
    <div class="dropdown">
      <button class="dropbtn">Event type:</button>
      <div class="dropdown-content">
        <a href="#">Character</a>
        <a href="#">World-Building</a>
        <a href="#">Character-building</a>
      </div>
    </div>
    <label for="events">Events</label>
    <input class="events_input" type="text" name="event">
    <label for="story_start">Story:</label>
    <input class="story_input" type="text" name="story">
    <button type="submit" class="btn btn-primary">Submit</button>
  </form>
</div>
