<article class="mp_headliner">
  <header class="rc_header">
    <img src="https://w0.peakpx.com/wallpaper/335/727/HD-wallpaper-fantasy-forest-forest-tree-fantasy-green-lush-beautiful-landscape.jpg" class="rc_story_image">
    <div class="mp_headliner_header">
        <div class="story_title">
          <p id="story-title"><img src="">Cursed Castle
            <div class="story_title_icons">
              <p class="likes">5 <i class="fa-solid fa-heart marg" title="like"></i></p>
            <p class="contributions">2 <i class="fa-solid fa-book" title="contribution"></i></p>
          </div>
          </p>
        </div>
      </div>
    </header>
  <div class="rc_story_blurb">We have nothing to speak about. There never was. Words are an unnecessary trouble. Expression is time wasting away. Any communication is just a yelp in the darkness. I am speaking now but I am saying nothing. I am just making noises, and, as it happens, they are organized in words and you should not draw meaning from this.</div>
  <footer class="headliner_footer"><a href="/story_id"><i class="fa-solid fa-angles-right" id="rc_angles" title="read more"></i></a></footer>
</article>
