<!DOCTYPE html>
<html lang="en">

<head>
  <title>Home Page</title>

  <meta charset="UTF-8" >
  <meta http-equiv="X-UA-Compatible" content="IE=edge" >
  <meta name="viewport" content="width=device-width, initial-scale=1.0" >

  <link rel="stylesheet" href="/vendor/normalize-4.1.1.css" />
  <link rel="stylesheet" href="/vendor/border-box.css" />
  <link rel="stylesheet" href="/styles/main.css" />
  <link rel="stylesheet" href="/styles/layout.css" />

  <script src="/vendor/jquery-3.0.0.js"></script>
  <script defer src="/scripts/models/htmlModels.js"></script>
  <script defer src="/scripts/app.js"></script>
</head>

<body>
  <input type="hidden" id="user-id" value="<%= user.id %>" />
  <header>
    <% if (!user) { %>
    <button id="user-login">login</button>
    <button id="user-registration">registration</button>
    <% } else { %>
    <button id="user-profile">profile</button>
    <button id="user-stories">my stories</button>
    <button id="user-contributions">my contributions</button>
    <% } %>
  </header>

  <main></main>

  <footer>
    <h4>This is the footer, I know it is because I put it here.</h4>
  </footer>
</body>

</html>
