<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- Meta Information -->
    <title>Storyteller (working title)</title>


    <!-- External CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/8.0.1/normalize.min.css" type="text/css" />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/timeago.js/4.0.2/timeago.min.js" integrity="sha512-SVDh1zH5N9ChofSlNAK43lcNS7lWze6DTVx1JCXH1Tmno+0/1jMpdbR8YDgDUfcUrPp1xyE53G42GFrcM0CMVg==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>

    <!-- External JS -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.js"></script>

    <!-- App JS -->
    <script type="text/javascript" src="/scripts/client.js"></script>
    <script src="/scripts/users.js"></script>

    <!-- Fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Questrial&display=swap" rel="stylesheet">

    <!-- Font Awesome -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.2/css/all.min.css" integrity="sha512-1sCRPdkRXhBV2PBLUdRb4tMg1w2YPf37qatUFeS7zlBy7jJI8Lf4VHwWfZZfpXtYSLy85pkm9GaYVYMfw5BC1A==" crossorigin="anonymous" referrerpolicy="no-referrer" />

    <!-- App CSS -->
    <link rel="stylesheet" href="/styles/layout.css" type="text/css" />
  </head>

  <body>

    <!-- Top nav bar (fixed) -->
    <nav class="navbar">
      <span id="logo">Storyteller</span>
      <div>
        <a href="/">Home</a>
        <a href="/most_recent">New</a>
        <a href="/most_popular">Popular</a>
        <a href="/id:/my_stories">My Stories</a>
      <div>
        <div>
          <a href="new_story" title="start a new story"> + </a>
          <span class="username"></span>
          <button class="logout" type="submit">logout</button>
        </div>
      </nav>

        <!-- Page-specific (main) content here -->
        <main>
        <section class= "fp_mostpopular">
          <header>
            Most Popular
            <a href="/most_popular" title="see more"> + </a>
          </header>
          <article class="mp_headliner">
            <div><img src=" "></div>
            <div class="story_blurb"></div>
            <a href="/story_id">read more</a>
          </article>
          <section>
            <a href="/story_id"><div class="mp_1"></div></a>
            <a href="/story_id"><div class="mp_2"></div></a>
            <a href="/story_id"><div class="mp_3"></div></a>
            <a href="/story_id"><div class="mp_4"></div></a>
          </section>
          </section>
          <section class= "fp_mostrecent">
          <header>
            Most Recent
            <a href="/most_recent" title="see more"> + </a>
          </header>
          <article class="mr_headliner">
            <div><img src=" "></div>
            <div class="story_blurb"></div>
            <a href="/story_id">read more</a>

    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <!-- External CSS -->
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/normalize/8.0.1/normalize.min.css"
      type="text/css"
    />
    <script
      src="https://cdnjs.cloudflare.com/ajax/libs/timeago.js/4.0.2/timeago.min.js"
      integrity="sha512-SVDh1zH5N9ChofSlNAK43lcNS7lWze6DTVx1JCXH1Tmno+0/1jMpdbR8YDgDUfcUrPp1xyE53G42GFrcM0CMVg=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    ></script>

    <link rel="stylesheet" href="/vendor/normalize-4.1.1.css" />
    <link rel="stylesheet" href="/vendor/border-box.css" />
    <link rel="stylesheet" href="/styles/main.css" />
    <link rel="stylesheet" href="/styles/layout.css" />
    <link rel="stylesheet" href="/styles/user_profile.css" />

    <!-- External JS -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.js"></script>

    <!-- App JS -->
    <script src="/scripts/users.js"></script>
    <script src="/vendor/jquery-3.0.0.js"></script>
    <script defer src="/scripts/app.js"></script>
    <script defer src="/scripts/models/htmlModels.js"></script>

    <!-- Fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Questrial&display=swap"
      rel="stylesheet"
    />

    <!-- Font Awesome -->
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.2/css/all.min.css"
      integrity="sha512-1sCRPdkRXhBV2PBLUdRb4tMg1w2YPf37qatUFeS7zlBy7jJI8Lf4VHwWfZZfpXtYSLy85pkm9GaYVYMfw5BC1A=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    />

    <!-- App CSS -->
    <link rel="stylesheet" href="/styles/layout.css" type="text/css" />
    <link rel="stylesheet" href="/styles/main.css" type="text/css" />
    <link rel="stylesheet" href="/styles/nav.css" type="text/css" />
    <link rel="stylesheet" href="/styles/user_profile.css" type="text/css" />
    <link rel="stylesheet" href="/styles/main_content.css" type="text/css" />
  </head>
  <body>
    <nav class="navbar">
      <div class="navbar_left">
        <p class="logo">Storyteller</p>
        <div class="menu">
          <% if (!user.id) { %>
          <a href="/">Home</a>
          <a href="/most_recent">New</a>
          <a href="/most_popular">Popular</a>
          <a href="/register">Register</a>
          <% } else { %>
          <a href="/">Home</a>
          <a href="/most_recent">New</a>
          <a href="/most_popular">Popular</a>
          <a href="/id:/my_stories">My Stories</a>
          <% } %>
        </div>
      </div>
      <div class="navbar_right">
        <input type="hidden" id="user-id" value="<%= user.id %>" />
        <header>
          <% if (!user.id) { %>
          <div class="login-component">
            <form class="user_login" action="/login" method="POST">
              <label for="email">Email address</label>
              <input
                class="form-control"
                type="email"
                name="email"
                placeholder="email"
              />
              <label for="password">Password:</label>
              <input
                class="form-control"
                type="password"
                name="password"
                placeholder="password"
              />
              <button type="submit" class="btn btn-primary">Submit</button>
            </form>
          </div>
          <% } else { %>
          <a href="new_story" title="start a new story"> + </a>
          <div><%= user.id %></div>
          <button class="logout" type="submit">logout</button>
          <% } %>
        </header>
      </div>
    </nav>

    <!-- Page-specific (main) content here -->
    <main>
      <!-- This whole section will slide out from the side when user logs in -->
      <section class="left_column">
        <div class="user_profile">
          <div class="user_info">
            <img src="https://www.fillmurray.com/100/100" class="user_image" />
            <div class="userandbio">
              <p>Username:</p>
              <br />
              <p>Bio:</p>
            </div>
          </div>
        </div>
        <section class="user_stories"></section>
      </section>
      <!-- When not logged in only most popular and most recent will show. Clicking on the '+' sign will expand the content downwards to expose a list of 10 options at a time and can we have an arrow that will flip to a new list of options? -->
      <section class="right_column">
        <button type="button" class="collapsible">Submit a story ++++</button>
        <div class="content">
          <form class="submit" action="/id:/submit" method="POST">
            <div class="dropdown">
              <button class="dropbtn">Event type:</button>
              <div class="dropdown-content">
                <a href="#">Character</a>
                <a href="#">World-Building</a>
                <a href="#">Character-building</a>
              </div>
            </div>
            <label for="events">Events</label>
            <input class="events_input" type="text" name="event" />
            <label for="story_start">Story:</label>
            <input class="story_input" type="text" name="story" />
            <button type="submit" class="btn btn-primary">Submit</button>
          </form>
        </div>
        <button type="button" class="collapsible">Submit a story</button>
<div class="content">
        <form class="contribute" action="/id:/contribute" method="POST">
          <div class="dropdown">
            <button class="dropbtn">Event type:</button>
            <div class="dropdown-content">
              <a href="#">Character</a>
              <a href="#">World-Building</a>
              <a href="#">Character-building</a>
            </div>
          </div>
          <label for="events">Events</label>
          <input class="events_input" type="text" name="event" />
          <label for="story_add">Story:</label>
          <input class="story_input" type="text" name="story" />
          <button type="submit" class="btn btn-primary">Submit</button>
        </form>
        <!-- </div> -->
        <header>
          Most Popular
          <a href="/most_popular" title="see more"> + </a>
        </header>
        <section class="fp_mostpopular">
          <article class="mp_headliner">
            <div><img src="https://www.fillmurray.com/100/100" /></div>
            <div class="story_blurb"></div>
            <footer><a href="/story_id">+</a></footer>
          </article>
        </section>
        <section>
          <a href="/story_id"><div class="mp_1"></div></a>
          <a href="/story_id"><div class="mp_2"></div></a>
          <a href="/story_id"><div class="mp_3"></div></a>
          <a href="/story_id"><div class="mp_4"></div></a>
        </section>
        <header>
          Most Recent
          <a href="/most_recent" title="see more"> + </a>
        </header>
        <section class="fp_mostrecent">
          <article class="mr_headliner">
            <div><img src="https://www.fillmurray.com/100/100" /></div>
            <div class="story_blurb"></div>
            <footer><a href="/story_id">+</a></footer>

          </article>
          <section>
            <a href="/story_id"><div class="mr_1"></div></a>
            <a href="/story_id"><div class="mr_2"></div></a>
            <a href="/story_id"><div class="mr_3"></div></a>
            <a href="/story_id"><div class="mr_4"></div></a>
          </section>

          </section>
          <section class= "fp_yourfavourites">
          <header> Your Favourites
            <a href="/favourites" title="see more"> + </a>
          </header>
          <article class="yf_headliner">
            <div><img src=" "></div>
            <div class="story_blurb"></div>
            <a href="/story_id">read more</a>

        </section>
        <header>
          Your Favourites
          <a href="/favourites" title="see more"> + </a>
        </header>
        <section class="fp_your_favourites">
          <article class="yf_headliner">
            <div><img src="https://www.fillmurray.com/100/100" /></div>
            <div class="story_blurb"></div>
            <footer><a href="/story_id">+</a></footer>

          </article>
          <section>
            <a href="/story_id"><div class="yf_1"></div></a>
            <a href="/story_id"><div class="yf_2"></div></a>
            <a href="/story_id"><div class="yf_3"></div></a>
            <a href="/story_id"><div class="yf_4"></div></a>
          </section>

          </section>
      </main>
      </body>
      </html>

        </section>
      </section>
    </main>
    <%- include('./partials/collapsible') %>
  </body>
</html>

