<section class="left_column">
  <article class="container-left-side">
   <img src= "https://w0.peakpx.com/wallpaper/335/727/HD-wallpaper-fantasy-forest-forest-tree-fantasy-green-lush-beautiful-landscape.jpg" alt="" class="img01" >
   <P class="wlecome"> WELCOME !!</P>
 <div class="intro">
   <p>
     intro intro intro intro intro intro intro intro intro intro intro
     intro intro intro intro intro intro intro intro intro intro intro
     intro intro intro intro intro intro intro intro intro intro intro
     intro intro intro intro intro intro intro intro intro intro intro
     ntro intro intro intro intro intro intro intro intro intro intro
     intro intro intro intro intro intro intro intro intro intro intro
     intro intro intro intro intro intro intro intro intro intro intro
     intro intro intro intro intro intro intro intro intro intro i

   </p>
 </div>
   <img src="" alt="" class="img02" >
     <div class="register-f">
   <h2 class="reg">Register</h2>
   <form action="/register" method="POST">
     <label for=""> Name:</label>
     <input type="text" class="email_name">
     <br>
    <p></p>
     <label for="">Email :</label>
     <input type="text" class="email_name">
     <br>
     <button type="submit" class="submit-btn">Submit</button>
   </form>
 </div>
   <img src="https://w0.peakpx.com/wallpaper/335/727/HD-wallpaper-fantasy-forest-forest-tree-fantasy-green-lush-beautiful-landscape.jpg" alt="" class="img01" >
  </article>

 </section>
