<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <!-- Bootstrap CSS -->
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css"
      integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS"
      crossorigin="anonymous"
    />
    <title>Login</title>
    <header>
      <div>
        <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
          <div class="navbar-nav"></div>
        </div>
        <form method="POST" action="/login"></form>
      </div>
    </header>
  </head>
  <body>
    <div class="login-component">
      <main style="margin: 1em">
        <h2>Login</h2>
        <form class="form-group" action="/login" method="POST">
          <label for="email">Email address</label>
          <input
            class="form-control"
            type="email"
            name="email"
            placeholder="email"
            style="width: 300px; margin: 1em"
          />
          <label for="password">Password:</label>
          <input
            class="form-control"
            type="password"
            name="password"
            placeholder="password"
            style="width: 300px; margin: 1em"
          />
          <button type="submit" class="btn btn-primary">Submit</button>
          <a
            href="/register"
            class="btn btn-primary"
            role="button"
            aria-disabled="true"
            >Register</a
          >
        </form>
      </main>
    </div>

    <!-- /// Registration  -->
    <div>
      <main style="margin: 1em">
        <h2>Register</h2>
        <form class="form-group" action="/register" method="POST">
          <label for="email">Name</label>
          <input
            class="form-control"
            type="text"
            name="user"
            placeholder="your name"
            style="width: 300px; margin: 1em"
          />
          <label for="email">Email address</label>
          <input
            class="form-control"
            type="email"
            name="email"
            placeholder="email"
            style="width: 300px; margin: 1em"
          />
          <label for="password">Password:</label>
          <input
            class="form-control"
            type="password"
            name="password"
            placeholder="password"
            style="width: 300px; margin: 1em"
          />

          <button type="submit" class="btn btn-primary">Submit</button>
          <a
            href="/login"
            class="btn btn-primary"
            role="button"
            aria-disabled="true"
            >Login</a
          >
        </form>
      </main>
    </div>

    <!-- /// Edit users  -->

    <div>
      <main style="margin: 1em">
        <h2>Edit user info</h2>
        <form class="form-group" action="/users/update" method="PUT">
          <label for="name">Name</label>
          <input
            class="form-control"
            type="text"
            name="user"
            placeholder="new name"
            style="width: 300px; margin: 1em"
          />
          <label for="email">Email address</label>
          <input
            class="form-control"
            type="email"
            name="email"
            placeholder="New email"
            style="width: 300px; margin: 1em"
          />
          <label for="password">Password:</label>
          <input
            class="form-control"
            type="password"
            name="password"
            placeholder="New password"
            style="width: 300px; margin: 1em"
          />

          <button type="submit" class="btn btn-primary">Update</button>
        </form>
      </main>
    </div>
    <!--  add new event type  -->
    <div>
      <main style="margin: 1em">
        <h2>Add new event type</h2>
        <form class="form-group" action="/event_types/new" method="POST">
          <label for="name">Event-type name</label>
          <input
            class="form-control"
            type="text"
            name="name"
            placeholder="name"
            style="width: 300px"
          />
          <label for="email">Details</label>
          <textarea
            class="form-control"
            id="exampleFormControlTextarea1"
            name="details"
            rows="3"
            style="width: 300px"
            placeholder="Add your text here"
          ></textarea>
          <button type="submit" class="btn btn-primary">Add event</button>
        </form>
      </main>
    </div>

    <!-- Add event -->

    <!-- <div>
      <main style="margin: 1em">
        <h2>Add new event</h2>
        <form class="form-group" action="/events/new" method="POST">
          <label for="name">Event name</label>
          <input
            class="form-control"
            type="text"
            name="name"
            placeholder="Event's name"
            style="width: 300px"
          />
          <div class="form-group">
            <label for="exampleFormControlSelect1">Select Event Type</label>
            <select
              class="form-control"
              id="exampleFormControlSelect1"
              style="width: 300px"
            >
              <option>Event type 1</option>
              <option>Event type 2</option>
              <option>Event type 3</option>
            </select>
          </div>
          <label for="email">Details</label>
          <textarea
            class="form-control"
            id="exampleFormControlTextarea1"
            name="details"
            rows="3"
            style="width: 300px"
            placeholder="Add your text here"
          ></textarea>
          <button type="submit" class="btn btn-primary">Add event</button>
        </form>
      </main>
    </div> -->

    <!--  Create new character -->
    <div>
      <main style="margin: 1em">
        <h2>Add new character</h2>
        <form class="form-group" action="/characters/new" method="POST">
          <label for="name">character name</label>
          <input
            class="form-control"
            type="text"
            name="name"
            placeholder="Event's name"
            style="width: 300px"
          />
          <div class="form-group">
            <label for="exampleFormControlSelect1">Select Story ID </label>
            <select
              class="form-control"
              id="exampleFormControlSelect1"
              style="width: 300px"
            >
              <option>Story ID 1</option>
              <option>Story ID 2</option>
              <option>Story ID 3</option>
            </select>
          </div>
          <label for="email">Details</label>
          <textarea
            class="form-control"
            id="exampleFormControlTextarea1"
            name="details"
            rows="3"
            style="width: 300px"
            placeholder="Add your text here"
          ></textarea>
          <button type="submit" class="btn btn-primary">Add character</button>
        </form>
      </main>
    </div>
    <!-- My stories -->

    <!-- Bootstrap JS -->
    <script
      src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
      integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
      integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
      integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
      crossorigin="anonymous"
    ></script>
  </body>
</html>
