* {
  box-sizing: border-box;
}

.right_column {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  position: static;
  font-size: 14px;
  height: auto;
  width: stretch;
  min-width: 600px;
}

.submit {
  display: flex;
  flex-direction: column;
  width: 500px;
  margin: 5px;
}

.events_input {
  line-height: 15;
  margin: 10px;
}

.rc_story_image {
  height: 150px;
  width: 150px;
}

.rc_story_blurb {
  margin: 0;
  padding-left: 30px;
  padding-right: 30px;
}

.story_input {
  line-height: 20;
  margin: 10px;
}

.collapsible {
  display: flex;
  direction: column;
  align-items: center;
  background-color: #35352d;
  color: #c77100;
  padding: 15px;
  margin-top: 15px;
  margin-bottom: 10px;
  width: 115px;
  height: 20px;
  border: none;
  font-size: 12px;
}

.content {
  display: none;
  overflow: hidden;
  background-image: linear-gradient(#ABA79C, #a49c91);
  color: #c77100;
  margin-bottom: 10px;
}

.dropbtn {
  background-color: #35352d;
  color: #c77100;
  padding: 10px;
  font-size: 16px;
  border: none;
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #35352d;
  width: 120px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
}

.dropdown-content a {
  display: block;
  text-decoration: none;
  color: #c77100;
}

.dropdown-content a:hover {
  background-color: #ddd;
}

.dropdown:hover .dropdown-content {
  display: block;
}

.dropdown:hover .dropbtn {
  background-color: #35352d;
}

.fp_stories {
  display: flex;
  flex-direction: row;
  height: 30%;
  font-size: 14px;
}

.hl_header {
  display: flex;
  flex-direction: row;
}

.featured_header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  text-align: right;
  font-size: 20px;
  height: 30px;
  width: 100%;
  padding: 5px;
  margin-bottom: 5px;
  background-color: #35352d;
  color: #c77100;
}

.headliner {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
  min-height: 350px;
  min-width: 450px;
  width: 450px;
  margin: 10px;
  background-color: #ABA79C;
  overflow: hidden;
}

.headliner_header {
  display: flex;
  flex-direction: row;
  background-color: #35352d;
  width: 100%;
  color: #c77100;
  height: 70px;
  margin-left: 5px;
}

.mini_story_group {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  min-width: 600px;
  min-height: 350px;
  height: 100%;
  width: 70%;
  margin-top: 10px;
}

.headliner_footer {
  display: flex;
  flex-direction: row;
  justify-content: end;
  background-color: #35352d;
  height: 19px;
  padding-right: 5px;
  padding-top: 2px;
}

.mini_story_block {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  border: 1px solid #998d77;
  height: 50%;
  width: 49%;
  background-color: #ABA79C;
  font-size: 12px;
}

.mini_story {
  display: flex;
  flex-direction: row;
  height: auto;
  width: 100%;
  font-size: 12px;
  background-color: #ABA79C;
}

.story_miniheader {
  display: flex;
  flex-direction: row;
  background-color: #35352d;
  width: 100%;
  color: #c77100;
  height: 40px;
  margin-left: 2px;
}

.story_title {
  width: 100%;
  text-align: right;
  font-size: 16px;
  margin: 10px;
}

#story-title {
  margin: 0;
}

.story_paragraph {
  margin: 15px;
  height: 49%;
}

.mini_footer {
  display: flex;
  flex-direction: row;
  justify-content: end;
  height: 20px;
  gap: 8px;
  padding-top: 2px;
  padding-right: 2px;
  font-size: 12px;
  background-color: #35352d;
}

.story_title_icons {
  display: flex;
  flex-direction: column;
}

.mini_image {
  height: 60px;
  width: 60px;
}

#rc_fa_plus {
  font-size: 14px;
}

#rc_angles {
  float: right;
  font-size: 14px;
}

.likes {
  margin: 0;
  color: #c77100;
}

.fa-heart {
  color: #c77100;
  font-size: 12px;
}

.fa-heart:hover {
  color: #b12100;
}

.contributions {
  margin: 0;
  margin-top: 1px;
  color: #c77100;
}

.fa-book {
  color: #c77100;
  margin-top: 1px;
  font-size: 12px;
}
