.most-popular {
  background-color: #e6c295;
  width: 90%;
  margin-left: auto;
  margin-right: auto;
  margin-top: 2rem;
}

.most-popular-hd {
  font-size: 2.5rem;
  font-weight: 800;
  margin-left: 2rem;
}

.story-brief-discri {
  background-color: tan;
  border: 1px solid black;
  width: 30%;
  margin-bottom: 1rem;
  margin-left: 1rem;
  box-shadow: 4px 8px 10px 3px rgba(0, 0, 0, 0.71);
}

.most-popular-header {
  display: flex;
  margin-left: 1rem;
  margin-top: 0.5rem;
}

.paragraph {
  margin-left: 1rem;
}

.str-title {
  margin-left: 2rem;
  margin-top: 3rem;
}

.icons-2 {
  display: flex;
  justify-content: flex-end;
  margin-right: 1rem;
  margin-bottom: 0.5rem;
}

.marg {
  margin-right: 1rem;
}

.p-stories {
  display: flex;
  justify-content: space-around;
}
