.left_column {
  display: flex;
  flex-direction: column;
  position: static;
  background-image: linear-gradient(#ABA79C, #998d77);
  min-width: 380px;
  max-width: 380px;
  height: auto;
  padding: 10px;
  border-right: 2px solid #190c03;
  font-size: 14px;
}

.welcome {
  display: flex;
  flex-direction: column;
  margin-top: 10px;
  margin-right: 10px;
}

.img01 {
  width: 100%;
  height: auto;
}

.welcome_header {
  text-align: center;
  font-size: 20px;
  margin-bottom: 0px;
  background-color: #35352d;
  color: #c77100;
  height: 40px;
  padding: 10px;
}

.intro {
  padding: 15px;
}

.intro p {
  margin: 0;
}

.divider {
  width: 200px;
  height: 20px;
  margin-left: 67px;
}

.submit-btn {
  width: 100px;
  margin-top: 10px;
  margin-left: 34%;
  margin-right: 30%;
}

.register_label {
  font-size: 12px;
  padding: 10px;
}

.register_entry {
  display: flex;
  margin-left: 25px;
  width: 80%;
}

.register {
  display: flex;
  flex-direction: column;
}
