* {
  box-sizing: border-box;
}

.navbar {
  display:flex;
  flex-direction: row;
  justify-content: space-between;
  font-family: 'Questrial', sans-serif;
  align-items: center;
  padding-inline: 2em;
  position: fixed;
  box-shadow:0 8px 8px 0 rgba(0,0,0,.2);
}

.logo{
  display:flex;
}

.username {
display:flex;
}

.logout {
display:flex;
}
